@{
}
<form asp-controller="Home" asp-action="ChangeThemeAction">
    <input type="radio" id="dark" name="css_theme" value="dark" />
    <label for="dark">dark</label><br>
    <input type="radio" id="light" name="css_theme" value="light" />
    <label for="light">light</label><br>
    <input type="submit" value="change"/>
</form>