@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Auth">Auth</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ChangeTheme">ChangeTheme</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Reg">Reg</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="DaysWeek">Dayes of the week</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="List">List</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Product">Product</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Cart">Cart</a>
</div>
