@{
}
<div style="width:fit-content">
    <form>
        <h3>Registration</h3>
        <hr />
        <input name="login" type="text" placeholder="login"/><br/>
        <input name="password" type="password" placeholder="password" /><br/>
        <input name="sex" type="text" placeholder="sex" /><br /><br />
        <div style="background-color:lightgrey">
            <label>How did you find about us?</label><br />
            <label>from friend</label>
            <input type="checkbox" name="foundout1" /><br />
            <label>from TV commercials</label>
            <input type="checkbox" name="foundout2" /><br />
            <label>from somewher else...</label>
            <input type="checkbox" name="foundout3" /><br />
        </div><br />
        <textarea placeholder="about yourself"></textarea><br />
        <input type="submit" name="submit" value="submit" />
    </form>
</div>
